<footer>
	<div class="grid">
		<div class="branding not-mobile">
			<img src="https://design.codeberg.org/logo-kit/icon_inverted.svg">
		</div>
		<div>
			<b>Codeberg</b>
			<ul>
				<li><a href="https://docs.codeberg.org" target="_blank">Documentation</a></li>
				<li><a href="/Codeberg/Community/issues">Community Issues</a></li>
				{{if .IsSigned}}
					<li><a href="/about">Landing Page</a></li>
				{{end}}
				{{if .EnableSwagger}}
					<li><a href="{{AppSubUrl}}/api/swagger">API</a></li>
				{{end}}
				<li><a href="https://docs.{{AppDomain}}/contact/#abuse" target="_blank">Report Abuse</a>
			</ul>
		</div>
		<div>
			<b>Codeberg e.V.</b>
			<ul>
				<li><a href="https://docs.codeberg.org/getting-started/what-is-codeberg/#what-is-codeberg-e.v.%3F" target="_blank">Who are we?</a></li>
				<li><a href="/codeberg/org/src/en/bylaws.md" target="_blank">Bylaws/Satzung</a></li>
				<li><a href="https://docs.codeberg.org/improving-codeberg/#donate-to-codeberg" target="_blank">Donate</a></li>
				<li><a href="https://join.codeberg.org" target="_blank">Join / Support</a></li>
				<li><a href="https://docs.codeberg.org/contact/" target="_blank">Contact</a></li>
			</ul>
		</div>
		<div>
			<b>Service</b>
			<ul>
				<li><a href="https://codeberg.page" target="_blank">Codeberg Pages</a></li>
				<li><a href="https://translate.codeberg.org" target="_blank">Weblate Translations</a></li>
				<li><a href="/Codeberg-CI/request-access/issues" target="_blank">Woodpecker CI</a></li>
				<li><a href="https://status.codeberg.eu" target="_blank">Status Page</a></li>
			</ul>
		</div>
		<div>
			<b>Legal</b>
			<ul>
				<li><a href="/codeberg/org/src/Imprint.md" target="_blank">Imprint/Impressum</a></li>
				<li><a href="/codeberg/org/src/PrivacyPolicy.md" target="_blank">Privacy Policy</a></li>
				<li><a href="{{AssetUrlPrefix}}/js/licenses.txt">{{.i18n.Tr "licenses"}}</a></li>
				<li><a href="/codeberg/org/src/TermsOfUse.md">Terms of Use</a></li>
			</ul>
		</div>
	</div>
	<center>
		<a href="https://blog.codeberg.org" target="_blank">Blog</a> |
		<a href="https://social.anoxinon.de/@Codeberg" target="_blank" rel="noopener noreferrer">Mastodon</a> |
		<a href="https://matrix.to/#/#codeberg-space:matrix.org" target="_blank" rel="noopener noreferrer">Matrix Space</a> |
		<a href="https://twitter.com/codeberg_org" target="_blank" rel="noopener noreferrer">Twitter</a>
	</center>
	<div class="ui right">
		<div class="ui language bottom floating slide up dropdown link item button">
			{{svg "octicon-globe"}}
			<div class="text">{{.i18n.LangName}}</div>
			<div class="menu language-menu">
				{{range .AllLangs}}
					<a lang="{{.Lang}}" data-url="{{AppSubUrl}}/?lang={{.Lang}}" class="item {{if eq $.i18n.Lang .Lang}}active selected{{end}}">{{.Name}}</a>
				{{end}}
			</div>
		</div>
	</div>
</footer>
